<div>
  <table>
    <tr>
      <td>Filler</td>
      <td>
        <button class="btn btn-primary" style="padding: 4px;" (click) = "onClick()">Add</button>
      </td>
    </tr>
    <tr>
      <td>Alphabet</td>
      <td>
        <button class="btn btn-primary" style="padding: 4px;" (click) = "onClick()">Add</button>
      </td>
    </tr>
  </table>
  
  <table>
    <tr>
      <th>
        Index
      </th>
      <th>
        Buchstabe
      </th>
    </tr>
    <tr *ngFor="let alphabetOutput of alphabet">
      <td>{{ alphabetOutput.num }}</td>
      <td>
       {{ alphabetOutput.letter }}
      </td>
    </tr>
  </table>
</div>
